
h1{
	font-family: "Helvetica";
	font-size: 20px;
	font-style: italic;
}

/* Important stuff */

.panel-heading{
	text-align: center; 
	padding-top: 10px;
}

.panel-body{
	float: center;
}

.backgroundimage{
	background-image: url(htooth.jpg);
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .25;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-6 h1, a {
    padding: 1px;
    margin: 0px;
}

.col-md-6 h2{
    padding: 1px;
    margin: 0px;
}